ion-content {
  --overflow: auto; 
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0; 
  bottom: 0; 
  overflow-y: auto; 
  padding: 15px; 
  box-sizing: border-box; 
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.bike-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

.header {
  display: flex;
}


.bike-list img {

  transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.bike-list ion-item:hover img {
  transform: scale(1.05); /* Scale the image slightly on hover */
}

/* Shadow effect on ion-item */
.bike-list ion-item {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
   border-radius: 10px; 
}

/* Optional: to remove shadow on hover */
.bike-list ion-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Slightly stronger shadow on hover */
}
