<ion-header class="header">
  <ion-toolbar>
    <ion-title>Bikes</ion-title>
  </ion-toolbar>
  <ion-searchbar 
    class="google-search-bar" 
    placeholder="Search bikes"  
    [(ngModel)]="term" 
    (ionInput)="searchBikes()">
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-list class="bike-list">
    <ion-item *ngFor="let bike of filteredBikes" [routerLink]="['/bike-details', bike._id]">
      <ion-label>
        <img [src]="'assets/images/' + bike.image" alt="{{ bike.model }}" width="200" height="200">
        <h2>{{ bike.model }}</h2>
        <p>{{ bike.color }} - {{ bike.price | currency:'INR'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
